nav {
  height: 50px;
  padding: 20px;
  background-color: honeydew;

  display: flex;
  align-items: center;
  gap: 50px;
}

nav a {
  color: olive;
  text-decoration: none;
  font-size: 20px;
}

nav a:visited {
  color: darkgreen;
}

.digimon-card {
  height: 200px;
  width: 200px;
}

.digimon-card img {
}
