nav {
  height: 50px;
  padding: 20px;
  background-color: honeydew;

  display: flex;
  align-items: center;
  gap: 50px;
}

nav a {
}

.digimon-card {
  height: 200px;
  width: 200px;
}

.digimon-card img {
}
